.img__panel {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 4rem;
    color: $color-white;
    cursor: pointer;
    flex: 0.5;
    margin: 1rem;
    position: relative;
    transition: flex .7s ease-in;
    &.active{
        flex: 5;
        h3{
            opacity: 1;
            transition: opacity 0.3s ease-in 0.4s;
        }
    }
    h3{
        font-size: 2rem;
        position: absolute;
        bottom: 2rem;
        left: 2rem;
        margin: 0;
        opacity: 0;
    }

  &-1 {
    background-image: url('../../img/pexels-jess-vide-5006540.jpg');
  }
  &-2 {
    background-image: url('../../img/pexels-jess-vide-5006580.jpg');
  }
  &-3 {
    background-image: url('../../img/pexels-pixabay-390051.jpg');
  }
  &-4 {
    background-image: url('../../img/pexels-pixabay-416676.jpg');
  }
  &-5 {
    background-image: url('../../img/pexels-vladimir-kudinov-67386.jpg');
  }
}
