// Google Font
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');

// RESET Globally
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  // Translates to 10px / 1rem
  font-size: 62.5%;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  padding: 1rem;
}
.bg{
    background: url('/css/docusign-ujkG7mTs7IM-unsplash.jpg') no-repeat center center/cover;
    position: absolute;

    // Adjusts white space when Blurred
    top: -30px;
    left: -30px;
    width: calc(100vw + 6rem);
    height: calc(100vh + 6rem);
    z-index: -1;
    filter: blur(0px);
}
.loading__text{
    font-size: 5rem;
    color: #fff;
}
